<#assign className = table.className>
<#assign tableName = table.sqlName>
<#assign classNameLower = className?uncap_first>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${basepackage}.dao.${className}Dao">

    <resultMap type="${basepackage}.do.${className}DO" id="map${className}DO" autoMapping="true">
    <#list table.columns as column>
        <#if column.pk>
        <id column="${column.sqlName}" property="${column.columnNameLower}" />
        <#else>
        <result column="${column.sqlName}" property="${column.columnNameLower}" />
        </#if>
    </#list>
    </resultMap>

    <sql id="m${className}DOSql">
    <#list table.columns as column>
    ${column.sqlName}<#if column_has_next>,</#if>
    </#list>
    </sql>

    <insert id="insert" parameterType="${basepackage}.do.${className}DO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <#list table.columns as column>
            <#if column.pk>
            <#else>
            <if test="${column.columnNameLower}!=null">
                ${column.sqlName},
            </if>
            </#if>
        </#list>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <#list table.columns as column>
            <#if column.pk>
            <#else>
            <if test="${column.columnNameLower}!=null">
                ${"#{" + column.columnNameLower + "}"},
            </if>
            </#if>
        </#list>
        </trim>
    </insert>

    <delete id="deleteById" parameterType="long">
        DELETE FROM ${tableName} WHERE id=${r"#{id}"}
    </delete>

    <update id="updateById" parameterType="${basepackage}.do.${className}DO">
        UPDATE ${tableName}
        <trim prefix="set" suffixOverrides=",">
        <#list table.columns as column>
            <#if column.pk>
            <#else>
            <if test="${column.columnNameLower}!=null">${column.sqlName}=${"#{" + column.columnNameLower + "}"},</if>
            </#if>
        </#list>
        </trim>
        WHERE id=${r"#{id}"}
    </update>

    <select id="getOneById" parameterType="long" resultMap="map${className}DO">
        SELECT
        <include refid="m${className}DOSql" />
        FROM ${tableName}
        WHERE id=${r"#{id}"}
    </select>

    <select id="getOne" parameterType="${basepackage}.do.${className}DO" resultMap="map${className}DO">
        SELECT
        <include refid="m${className}DOSql" />
        FROM ${tableName}
        <where>
        <#list table.columns as column>
            <if test="${column.columnNameLower}!=null">AND ${column.sqlName}=${"#{" + column.columnNameLower + "}"}</if>
        </#list>
        </where>
    </select>

    <select id="list" parameterType="${basepackage}.do.${className}DO" resultMap="map${className}DO">
        SELECT
        <include refid="m${className}DOSql" />
        FROM ${tableName}
        <where>
        <#list table.columns as column>
            <if test="${column.columnNameLower}!=null">AND ${column.sqlName}=${"#{" + column.columnNameLower + "}"}</if>
        </#list>
        </where>
    </select>

</mapper>